{% load static %}
{% include 'customer_header.html' %}
<div id="page-wrapper" class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="page-wrapper-content"><br>
					<h1>Book the event</h1>
				</div>
			</div>
		</div>
	</div>
</div>
	<!-- /Home -->


<form method ="POST" class="post-form" action="" >
	{% csrf_token %}
	 <div class="container h-100">
	<h1 class="fs-4 card-title fw-bold mb-4">Book the event</h1>
	<div class="mb-3">
		<input id="customer" type="hidden" class="form-control"  name="customer" value="{{email}}" required autofocus>
	</div>

	<div class="mb-3">
		<input id="addevent" type="hidden"  name="addevent" value="{{id}}" required autofocus>
	</div>

		<div class="mb-2 w-100">
			<label class="text" for="cost">Cost</label>

		<input id="cost" type="number" class="form-control"  name="cost" value="{{cost}}"  required>
	</div>

	<div class="mb-2 w-100">
			<label class="text" for="datetime">Title</label>

		<input id="" type="text" class="form-control"  value="{{title}}" required>
	</div>

		<div class="mb-2 w-100">
			<label class="text" for="datatime">Date&Time</label>

		<input id="datatime" type="text" class="form-control" value="{{datatime}}" required>
	</div>

			<input id="datetime" type="hidden"  name="Datetime" value="" required>

	<button type="submit" onclick="return confirm('Just conform once');" class="btn btn-primary ms-auto">submit</button><br>
</form>
	{{msg}}
{% include 'footer.html' %}
</body>
</html>