{% load static %}
{% include 'customer_header.html' %}
<div id="page-wrapper" class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="page-wrapper-content"><br>
					<h1>My Profile</h1>
				</div>
			</div>
		</div>
	</div>
</div>
	<!-- /Home -->

<br>
<table align="center" border="2" cellpadding="10" cellspacing="0" width="80%">
	<thead>
	<tr>
		<th>Id</th>
		<th>Email</th>
		<th>Fullname</th>
		<th>Mobile</th>
		<th>Address</th>
		<th>City</th>
	</tr>
    </thead>
	<tbody>
	{% for customer in customer  %}
	<tr>
		<td>{{customer.id}}</td>
		<td>{{customer.email}}</td>
		<td>{{customer.fullname}}</td>
		<td>{{customer.mobile}}</td>
		<td>{{customer.address}}</td>
		<td>{{customer.city}}</td>
		<td><a href="/customer_edit/{{customer.id}}">edit</a></td>
		<td><a href="/customer_delete/{{customer.id}}">delete</a></td>
	</tr>
	{% endfor %}
	</tbody>
</table><div>{{msg}}</div>
<br>
{% include 'footer.html' %}
